{% extends "layouts/base_dashboard.html" %}

{%  block content_dashboard %}

    <form id="table_form" action="/analyzeData" method="post">
        <section class="widget">
            <header>
                <h4><span class="fw-semi-bold">A Day in the Life</span></h4>
            </header>
            <div class="widget-body">
                I read the news today, oh boy<br>
                About a lucky man who made the grade<br>
                And though the news was rather sad<br>
                Well I just had to laugh<br>
                I saw the photograph.<br><br>

                He blew his mind out in a car<br>
                He didn't notice that the red lights had changed<br>
                A crowd of people stood and stared<br>
                They'd seen his face before<br>
                Nobody was really sure<br>
                If he was from the House of Lords.<br><br>

                I saw a film today, oh boy<br>
                The English army had just won the war<br>
                A crowd of people turned away<br>
                But I just had to look<br>
                Having read the book<br>
                I'd love to turn you on.<br>
            </div>
            <h1>La clase elegida fue <b>{{ data_class }}</b></h1>
            <h1>El nombre del archivo es <b>{{ filename }}</b></h1>

        </section>

    </form>

{% endblock %}

{% block specific_libraries %}
<!-- page specific libs -->
<script src="{{url_for('static', filename = 'vendor/underscore/underscore-min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/backbone/backbone.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/backbone.paginator/lib/backbone.paginator.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/backgrid/lib/backgrid.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/backgrid-paginator/backgrid-paginator.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/datatables/media/js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>

<!-- page specific js -->
<script src="{{url_for('static', filename = 'js/tables-dynamic.js')}}"></script>
{% endblock %}
