cufflinks==0.8.2
dash==0.36.0rc1
dash-core-components==0.41.0
dash-html-components==0.13.4
dash-renderer==0.17.0rc1
dash-table==3.1.11
dash-table-experiments==0.6.0
ipython==7.14.0
Flask==1.1.2
Flask-Caching==1.8
Flask-Compress==1.5.0
lightgbm==2.2.2
matplotlib==2.0.2
networkx==2.2
numpy==1.18.4
pandas==0.20.1
plotly==2.7.0
scikit-learn==0.22
seaborn==0.9.0
xgboost==0.81
