<!DOCTYPE html>
<html>
<head>
    {% block head %}{% endblock %}

    <link href="{{url_for('static', filename = 'css/application.min.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'js/customized/views.redirect.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/favicon.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>

    </script>
</head>
<body>

{% block content %}{% endblock %}

{% block specific_code %}{% endblock %}

<script src="{{url_for('static', filename = 'vendor/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/jquery-pjax/jquery.pjax.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/tether/dist/js/tether.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/dist/util.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/dist/collapse.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/dist/dropdown.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/dist/button.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/dist/tooltip.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/dist/alert.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/slimScroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/widgster/widgster.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/pace.js/pace.js')}}" data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script>
<script src="{{url_for('static', filename = 'vendor/jquery-touchswipe/jquery.touchSwipe.js')}}"></script>
<script src="{{url_for('static', filename = 'js/bootstrap-fix/button.js')}}"></script>

<script src="{{url_for('static', filename = 'js/settings.js')}}"></script>
<script src="{{url_for('static', filename = 'js/app.js')}}"></script>
{% block specific_libraries %}{% endblock %}
</body>
</html>
